@page "/login"
@inherits UserContext
@rendermode InteractiveServer
<AuthorizeView>
    <Authorized>
        @{
            AutoNavigate();
        }
    </Authorized>
    <Authorizing>
        <div class="mt-4">
            <h2>Please Wait...</h2>
        </div>
    </Authorizing>
    <NotAuthorized>
        <MudContainer MaxWidth="MaxWidth.Small" Class="mt-16">
            <MudCard>
                <MudCardHeader>
                    <MudText Typo="Typo.h5">Login</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField @bind-Value="Email" Label="Email" Required="true"
                                  RequiredError="Email is required!"
                                  InputType="InputType.Email" />
                    <MudTextField @bind-Value="Password" Label="Password" Required="true"
                                  RequiredError="Password is required!"
                                  InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions Class="d-flex justify-content-between align-items-center">
                    <MudButton Variant="Variant.Text" OnClick="@NavigateToRegister" Color="Color.Secondary">
                        New? Register
                    </MudButton>
                    <MudButton OnClick="HandleLogin"
                               Variant="Variant.Filled"
                               Color="Color.Primary">Login</MudButton>
                </MudCardActions>
            </MudCard>
        </MudContainer>

    </NotAuthorized>
</AuthorizeView>

@code {

    [SupplyParameterFromQuery(Name = "ReturnUrl")]
    public string ReturnUrlPath { get; set; } = "";

    private string Email { get; set; } = "";
    private string Password { get; set; } = "";

    public void AutoNavigate()
    {
        if (string.IsNullOrEmpty(ReturnUrlPath))
        {
            NavTo("/");
        }
        else
        {
            NavTo(ReturnUrlPath);
        }
    }

    public async void HandleLogin()
    {
        if (await Login(Email, Password))
        {
            AutoNavigate();
        }
    }

    public void NavigateToRegister()
    {
        NavTo("/register");
    }
}